In [2]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [3]:
engagement_df = pd.read_csv('../data/Engagement_data.csv')
experience_df = pd.read_csv("../data/Experience_data.csv")

In [4]:
engagement_df

        MSISDN/Number  Bearer Id  Dur. (ms)        Total  cluster
0        3.360100e+10          1     116720   878.690574        0
1        3.360100e+10          1     181230   156.859643        0
2        3.360100e+10          1     134969   595.966483        0
3        3.360101e+10          1      49878   422.320698        0
4        3.360101e+10          2      37104  1457.410944        2
...               ...        ...        ...          ...      ...
106347   3.379000e+10          1       8810   714.641641        2
106348   3.379000e+10          1     140988   480.307335        0
106349   3.197020e+12          1     877385   232.123971        0
106350   3.370000e+14          1     253030   596.287824        0
106351   8.823970e+14          1     869844   139.153646        0

[106352 rows x 5 columns]

In [5]:
experience_df

,Unnamed: 0,MSISDN/Number,AVG_RTT,TCP_Re,AVG_TP,Handset Type,cluster
0,0,3.366496e+10,47.000000,2.156957e+07,67.000000,Samsung Galaxy A5 Sm-A520F,0
1,1,3.368185e+10,70.000000,2.156957e+07,42.000000,Samsung Galaxy J5 (Sm-J530),0
2,2,3.376063e+10,127.458589,2.156957e+07,15.000000,Samsung Galaxy A8 (2018),0
3,3,3.375034e+10,127.458589,2.156957e+07,88.000000,undefined,0
4,4,3.369980e+10,127.458589,2.156957e+07,15.000000,Samsung Sm-G390F,0
...,...,...,...,...,...,...,...
149996,149996,3.365069e+10,32.000000,2.156957e+07,117.000000,Apple iPhone 8 Plus (A1897),0
149997,149997,3.366345e+10,29.000000,2.156957e+07,77.000000,Apple iPhone Se (A1723),0
149998,149998,3.362189e+10,49.000000,2.156957e+07,90.000000,Apple iPhone Xs (A2097),0
149999,149999,3.361962e+10,42.000000,2.156957e+07,71.000000,Huawei Fig-Lx1,0
150000,150000,3.362632e+10,127.458589,2.156957e+07,15070.474573,Huawei B528S-23A,0